---
stages:
  - Build_and_Push_image
variables:
  IMAGE_NAME:
    description: "Tag for docker images"
    value: "zmaalz/reg-forms-app"
  IMAGE_TAG:
    description: "Tag for docker images"
    value: "0.1.1"
Build_and_Push_image:
  stage: Build_and_Push_image
  before_script:
    - docker info
    - docker build --pull -t ${IMAGE_NAME}:${IMAGE_TAG} .
  script:
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD}
    - docker push ${IMAGE_NAME}:${IMAGE_TAG}
  after_script:
      - echo "Cleaning up"
      - rm -rf ${CI_PROJECT_DIR}
      - docker image rm ${IMAGE_NAME}:${IMAGE_TAG}
  tags:
    - linux
  only:
    - main
